body {
 background-color: black;
 font-family: "Helvetica Neue";
 color: white;
}

ul {
	font-style:italic; 
	font-size: 15px;
	font-family: "Arial";
}

p {
  background-color: white;
  border-color: gray;
  border-style: dotted;
  color: black;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
	color: blue;
}

h4 {
	font-size: 20px;
}
